<!DOCTYPE html>
<html lang="nl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mijn Aanvragen</title>
  <link rel="stylesheet" href="../static/css/aanvragen.css">
</head>
<body>

<h1>Overzicht van uw aanvragen</h1>

<table id="tabel">
  <tr>
    <th>Datum</th>
    <th>Tonnage</th>
    <th>Vaten</th>
    <th>Kost vat</th>
    <th>Volume vat</th>
    <th>Ophaalkost & verbranding</th>
    
  </tr>
</table>

<a class="back" href="dashboard.html">← Terug naar dashboard</a>

<script>


  function formatDatum(d) {
      const datum = new Date(d);
      const dag = String(datum.getDate()).padStart(2, "0");
      const maand = String(datum.getMonth() + 1).padStart(2, "0");
      const jaar = datum.getFullYear();
      return `${maand}/${dag}/${jaar}`;
  }

  const tabel = document.getElementById("tabel");
  const aanvragen = JSON.parse(localStorage.getItem("aanvragen")) || [];

  aanvragen.forEach(a => {
    const row = document.createElement("tr");
    row.innerHTML = `
      <td>${formatDatum(a.datum)}</td>
      <td>${a.hmw_total_weight}</td>
      <td>${a.number_of_barrels_1}</td>
      <td>${a.cost_hmw_barrels_1}</td>
      <td>${a.volume_barrel_1}</td>
      <td>${a.cost_collection_processing}</td>
      
    `;
    tabel.appendChild(row);
  });
</script>

</body>
</html>
