<!DOCTYPE html>

<html lang="nl">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard - Mediwaste Solutions</title>
  <link rel="stylesheet" href="../static/css/dashboard.css">
 </head>

<body>

  <header>

    Mediwaste Solutions
   

  </header>

  

   <a href = Homepage.html class="logout-btn">Uitloggen</a>
  

  <div class="dashboard-container">

    <h1>Welkom terug!</h1>

    <p>Start een nieuwe besparingsanalyse of bekijk je eerdere aanvragen.</p>



    <!-- knop verwijst nu naar input.html -->

    <button class="btn" onclick="window.location.href='input.html'">Nieuwe berekening</button>

    <button class="btn btn-secondary" onclick="window.location.href='Aanvragen.html'">Mijn aanvragen</button>



    <a href="Homepage.html">← Terug naar homepagina</a>

  </div>



  <footer>

    © 2025 Mediwaste Solutions. Alle rechten voorbehouden.

  </footer>

</body>

</html>