/* base.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #FFFFFF;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  color: #2150b6;
  font-size: 3rem;
  margin-bottom: 20px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

p {
  font-size: 1.1rem;
  margin-bottom: 20px;
}

h2 {
  margin-top: 0px;
  margin-bottom: 40px;
}

img {
  max-width: 100%;
  height: auto;
}
