    body {

      font-family: Arial, sans-serif;

      margin: 0;

      background-color: #e6ebf8;

      display: flex;

      flex-direction: column;

      align-items: center;

      min-height: 100vh;

    }



    header {

      width: 100%;

      background-color: #2150b6;

      color: white;

      padding: 30px 20px;

      text-align: center;

      font-size: 2rem;

      font-weight: bold;
      position: relative;

    }



    .dashboard-container {

      background-color: #fff;

      margin-top: 80px;

      padding: 40px;

      border-radius: 12px;

      box-shadow: 0 4px 10px rgba(0,0,0,0.1);

      text-align: center;

      width: 350px;

    }



    h1 {

      color: #2150b6;

      margin-bottom: 10px;

    }



    p {

      color: #555;

      font-size: 1rem;

      margin-bottom: 30px;

    }



    .btn {

      display: block;

      width: 100%;

      background-color: #2150b6;

      color: white;

      border: none;

      padding: 14px;

      border-radius: 8px;

      font-size: 1rem;

      cursor: pointer;

      margin-bottom: 15px;

      transition: background-color 0.3s ease;

    }



    .btn:hover {

      background-color: #183a86;

    }



    .btn-secondary {

      background-color: #eded1a;

    }



    .btn-secondary:hover {

      background-color: #ccda10;

    }



    a {

      display: block;

      margin-top: 20px;

      color: #2150b6;

      text-decoration: none;

      font-size: 0.9rem;

    }



    a:hover {

      text-decoration: underline;

    }



    footer {

      margin-top: auto;

      text-align: center;

      padding: 20px;

      color: #555;

      font-size: 0.9rem;

    }


    
    .logout-btn {     
      display: inline-block;
      
      background-color: #eded1a;
      color: white;
      
      padding: 10px 18px;
      border-radius: 8px;
      text-decoration: none;
      font-weight: bold;
      font-size: 1rem;

      margin-top: 10px;       /* afstand ONDER de header */
      margin-right: 20px;     /* afstand van rechterrand */
      
      float: right;           /* knop rechts */
      transition: background-color 0.3s ease;
    }

    .logout-btn:hover {
       background-color: #ccda10;
    }