/* layout.css */
header {
  position: relative; /* belangrijk voor absolute buttons */
  height: 120px; /* vaste hoogte voor de header */
  text-align: center; /* logo in het midden */
  padding-top: 20px;
  display: flex;
  flex-direction: column; /* onder elkaar */
  align-items: flex-end; /* rechts uitlijnen */
  gap: 10px;
}

footer {
  margin-top: auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  background-color: #f1f1f1;
  font-size: 0.9rem;
}

#root {
  text-align: center;
  max-width: 600px;
  margin: 100px auto 50px;
}

.section {
  max-width: 1000px;
  margin: 0 auto 50px;
  padding: 50px 20px;
}

.section h2 {
  text-align: center;
  color: #2150b6;
  margin-top: 0px;
  margin-bottom: 40px;
}

.options {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: nowrap;
  align-items: stretch;
}

.buttons {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
