    body {
      font-family: Arial, sans-serif;
      margin: 0;
      background-color: #f9fbff; /* lichte achtergrond */
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    h1 {
      color: #2150b6;
      margin-bottom: 10px;
    }

    p {
      color: #333;
      font-size: 0.95rem;
      margin-bottom: 25px;
    }

    .login-container {
      background-color: #ffffff;
      border: 1px solid #ccc;
      padding: 40px;
      border-radius: 8px;
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
      text-align: center;
      width: 320px;
    }

    label {
      display: block;
      text-align: left;
      margin-bottom: 5px;
      color: #2150b6;
      font-weight: bold;
      font-size: 1rem;
    }

    input[type="e-mail"],
    input[type="password"] {
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 6px;
      font-size: 1rem;
    }

    button {
      width: 100%;
      background-color: #2150b6;
      color: white;
      border: none;
      padding: 12px;
      border-radius: 6px;
      font-size: 1rem;
      cursor: pointer;
      margin-top: 10px;
    }

    button:hover {
      background-color: #183a86;
    }

    a {
      display: inline-block;
      margin-top: 15px;
      color: #2150b6;
      text-decoration: none;
      font-size: 0.9rem;
    }

    a:hover {
      text-decoration: underline;
    }

    footer {
      position: absolute;
      bottom: 10px;
      text-align: center;
      width: 100%;
      color: #555;
      font-size: 0.9rem;
    }
  